@require "frontend/styles/charte";

#triggeredSettingsForm
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 600;
  &-wrap
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #EC9C34
    border-radius: 10px
    padding: 1em 2em
  
#crossCancelSettingsForm
  color: black

#changeYourInformation
  font-size: 1em
  font-weight: bold

#settingsHelp
  font-size: 0.6em
  font-weight: lighter
  
.settingsInputs
  display: flex
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap
  margin: 3em 0
  &-wrap
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    label
      flex: 1;
      color: black
      padding-top: 1em
      margin-bottom: 1em
      font-size: .8em;
    input
      flex: 1;
      padding: .5em 2em
      margin-bottom: 1em
      background-color: black
      color: white
      opacity: .6
      font-size: .8em
      border-radius: 10px

#photoUploader
  width:100%
  padding: .5em 2em
  margin-bottom: 1em
  font-size: .8em
  color: white

.publicToggle
  &-on
    color: #1E90FF
    width:40%
    height:2em
    margin-bottom: 1em
  &-off
    color: black
    width:40%
    height:2em
    margin-bottom: 1em

.publicToggle-on:hover, .publicToggle-off:hover
    border: white
    cursor: pointer


#confirmInformationButton
  width:60%
  margin-top: 3em
  height:3em
  color: #EC9C34
  font-weight: bold
  background-color: black
  border: thick double #EC9C34
  text-transform: uppercase

#confirmInformationButton:hover
  color: black
  background-color: #ec9c34
  border: 2px solid white
  cursor: pointer
  box-shadow: 0px 0px 2px 2px black

// @media (max-width:1024px)
//   #triggeredSettingsForm
//     position: relative
//     width: 100vw
//     height: 700px
//     background-color: #EC9C34
//     border-radius: 10px
//     padding: 1em 2em
//     z-index:5
