#triggeredSettingsForm
  position: absolute
  width: 1000px
  height: 700px
  background-color: #EC9C34
  border-radius: 10px
  top: 5rem
  left:30rem
  padding: 1em 2em
  z-index:5



#crossCancelSettingsForm
  color: black

#changeYourInformation
  font-size: 1em

#settingsInputs
  display: flex
  flex-direction: row
  justify-content: flex-start
  flex-wrap: wrap
  margin: 3em 0

#photoUploader
  width:100%
  padding: .5em 2em
  margin-bottom: 1em
  font-size: .8em
  color: white

.publicToggle
  &-on
    color: #1E90FF
    width:50%
    height:2em
    margin-bottom: 1em
  &-off
    color: black
    width:50%
    height:2em
    margin-bottom: 1em



#inputFirstName, #inputFamilyName, #inputNickName, #inputAge
  width:50%
  padding: .5em 2em
  margin-bottom: 1em
  background-color: black
  color: white
  opacity: .6
  font-size: .8em
  border-radius: 10px
