@require "frontend/styles/charte";

body
  font-size: 1.7em;
  font-family: 'Montserrat', sans-serif;
  background-color: $second-color;

#app > div:not(#homeVisiter)
	display: flex;
	flex-direction: row;

.resize-pic
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
  width: 100%;

.right-side
  display: flex;
  flex-direction: column;
  width: 100%;