@require "frontend/styles/charte";

body {
  font-size: 1.7em;
  font-family: 'Montserrat', sans-serif;
  background-color: #2C2C2C;
}

#app > div:not(#homeVisiter) {
	display: flex;
	flex-direction: row;
}