@require "frontend/styles/charte";

.announcement-main
  background-color: $second-color;

.announcementsNotFound
  color: white;
  text-align: center;
  padding-top: 200px;
  font-size: 2em;
  margin-left: 300px;
