.announcement-main {
  width: 85%;
  float: right;
  background-color: #2c2c2c;
}

.announcementsNotFound {
  color: white;
  text-align: center;
  padding-top: 200px;
  font-size: 2em;
  margin-left: 300px;
}
