@require "frontend/styles/charte";
  
.banner
  background-color: $second-color;
  height: 150px;
  box-shadow: 0px 2px 5px black;
  margin-bottom: 30px;

.banner-container
  padding: 15px;
  overflow: hidden;
  background-color: $second-color;
  height: 100%;
  margin-left: 120px;

.pre-title-games
  color: $main-color;
  font-weight: lighter;

.game-title
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bolder;
  color: whitesmoke;

.number-of-search
  position: relative;
  top: 30px;
  font-weight: lighter;
  font-size: 0.6em;
  color: whitesmoke;
