.OneMessage {
  float: right;
  width: 85%;
}

.currentMessage {
  width: 70%;
  padding: 30px;
  margin: auto;
}

.currentMessage img {
  display: block;
  max-width: 300px;
  padding: 10px;
}

.userMessageProfile {
  color: white;
  padding: 10px;
  line-height: 1.5em;
  font-weight: lighter;
}

.userMessageProfile h1 {
  margin-bottom: 30px;
}
