@require "frontend/styles/charte";

.OneMessage
  width: 100%;
  .currentMessage 
    display: flex;
    flex-direction: column;
    margin: 0 auto 0  auto;
    .userMessageProfile
      height: 50px;
      font-size: 0.7em;
      border-bottom: 2px solid black;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
      line-height: 1em;
      img 
        display: block;
        max-height: 100%;
        margin-right: 20px;
    p
      padding: 20px 50px;
      font-size: 0.6em;
      font-weight: lighter;
      color: #ffffff;
      border-bottom: 2px solid black;
  &-response
    padding: 10px 0;
    box-shadow: 0 0 5px black;
    width: 1000px;
    margin: auto;
    font-size: 0.7em;
    textarea
      margin: auto;
  .title-response
    font-size: 1.1em;
    color: $main-color
    text-indent: 20px;
      
      