#settingsForMyAccount
  position: absolute
  align-self: flex-end
  width: 700px
  height: 700px
  margin-left: 28em
  margin-top: 5em
  background-color: white
  border: thick double #EC9C34
  border-radius: 10px
  padding: 1em 2em
  z-index:5

#MyAccount
  display: flex
  flex-wrap: wrap


#changeYourInformation
  font-size: 1em
  font-weight: bold

#confirmInformationButton
  width:60%
  margin-top: 3em
  height:3em
  color: #EC9C34
  font-weight: bold
  background-color: black
  border: thick double #EC9C34
  text-transform: uppercase

#confirmInformationButton:hover
  color: black
  background-color: #ec9c34
  border: 2px solid white
  cursor: pointer
  box-shadow: 0px 0px 2px 2px black

@media (max-width: 1024px)
  #settingsForMyAccount
    position:absolute
    width: 100vw
    height: 700px
    background-color: white
    border: thick double #EC9C34
    border-radius: 10px
    margin: 1em auto
    z-index:5
