@require "frontend/styles/charte";
  
.ReceivedMessage
  cursor: pointer;
  height: 32px;
  font-size: 0.8em;
  a
    display: flex;
    flex-direction: row;
    background-color: $second-color;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    h2
      color: $main-color;
      border-right: 2px solid black;
      width: 200px;
      padding: 5px;
    p
      flex: 1;
      padding: 5px;
      overflow: hidden;
  a:hover 
    background-color: $second-hover-color;
