@require "frontend/styles/charte";

#sidebar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 280px;
  background-color: $main-color;
}

#sidebar-title {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  font-size: 1.7em;
  font-weight: bold;
  color: $second-color;
}

#sidebar-title span {
  font-size: 1.1em;
  top: -19px;
  left: 30px;
}

#sidebar-title i {
  font-size: 0.7em;
  position: relative;
  left: 5px;
}

#sidebar-username {
  padding: 10px;
  text-align: center;
}

#sidebar-form {
  font-size: 0.7em;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#sidebar-input {
  margin: 10px 0 0 0;
  border-radius: 10px;
  padding: 7px;
  height: 35px;
  border: none;
}

#sidebar-input:hover, #sidebar-input:focus {
  transition: 0.2s;
  box-shadow: 0 0 5px #ffffff;
}

#sidebar-label {
  margin: 0px;
}
