#sidebar {
  width: 15%;
  position: fixed;
  left: 0px;
  background-color: #ec9c34;
  height: 100vh;
}

#sidebar-title {
  font-size: 1.7em;
  font-weight: bold;
  padding: 10px;
  color: #2c2c2c;;
}

#sidebar-title span {
  font-size: 1.1em;
  position: relative;
  top: -19px;
  left: 30px;
}

#sidebar-title i {
  font-size: 0.7em;
  position: relative;
  left: 5px;
}

#sidebar-username {
  padding: 10px;
}

#sidebar-form {
  font-size: 0.7em;
  margin: 10px;
  width: 100%;
  padding: 10px;
}

#sidebar-label {
  margin: 0px;
}
