@require "frontend/styles/charte";

.bannerMailing 
  color: $main-color;
  font-size: 0.7em;
  display: flex;
  ul
    border-left: 1px solid $main-color;
    border-right: 1px solid $main-color;
    display: flex;
    flex-direction: row;
    li 
      a 
        display: block;
        padding: 10px;
      a:not(.selectedMessage):hover
        background-color: $second-hover-color;
  
.selectedMessage
  cursor: default;
  background-color: $main-color;
  color: $second-color;
