@require "frontend/styles/charte";

.bannerMailing 
  padding: 20px;
  color: $main-color;

.navmails 
  font-size: 0.7em;
  li 
    display: inline-block;
    margin-right: 10px;
    a 
      padding: 10px;
      border-radius: 10px;
    a:not(.selectedMessage):hover
      background-color: $second-hover-color;
  
.selectedMessage
  cursor: default;
  background-color: $main-color;
  color: black;
