.MainMessages {
  width: 85%;
  float: right;
}

.bannerMailing {
  padding: 20px;
  color: #ec9c34;
}

.navmails {
  font-size: 0.7em;
}

.navmails li {
  display: inline-block;
  margin-right: 10px;
}

.navmails li a {
  padding: 10px;
  border-radius: 10px;
}

.selectedMessage {
  background-color: #ec9c34;
  color: black;
}
