#buttonSubmit {
  margin-left: 70%;
  padding: 10px;
  padding-top: 5px;
  font-size: 1.1em;
  border: none;
  box-shadow: 0px 0px 1px 2px #000;
  background-color: black;
  border-radius: 2px;
  color: #EC9C34;
}

.error {
  border-bottom: 2px solid red;
}
