@require "frontend/styles/charte";

#buttonSubmit
  align-self: flex-start;
  padding: 10px;
  padding-top: 5px;
  font-size: 1.1em;
  border: initial;
  background-color: #2C2C2C;
  border-radius: 3px;
  color: $main-color;
  margin-top: 50px;

#buttonSubmit:hover
  transition: 0.2s;
  box-shadow: 0 0 5px #000000;
  background-color: #000000;

.error
  border: 2px solid red!important;

.agreed
  border: 2px solid green!important;
