@require "frontend/styles/charte";

#games
  background-color: $second-color;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
