@require "frontend/styles/charte";

#MyProfileContainer
  width: 100%
  height: 100%
  display: flex
  align-items: baseline
  flex-direction: column
  padding: 5px;



#MyProfilePresentation
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 400px
  height: 150px
  margin: 1em auto 1em
  padding:1em
  background-color: $main-color
  border-radius: 10px

#MyProfilePhoto
  width: 100px
  height: 100px
  border-radius: 100%
  margin-bottom: 1em
  width: 150px;
  height: auto;

#MyProfileDescription
  opacity: .6
  font-size: .7em


#settingsForMyAccountTrigger
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 1em
  align-self: center
  color: white
  border-top: dotted  white
  border-top-width: 2px 10px


#labelMyAccountTrigger
  font-size: .7em

#FaWrenchMyAccountTrigger
  border-radius: 0 0 100% 100%
  background-color: #2C2C2C;
  width:50px
  height:40px
  text-align: center
  justify-content: center
  margin-top: 1em
  margin-bottom: 5.3em

#FaWrenchMyAccountTrigger:hover
  color: #2C2C2C;
  background-color: $main-color
  cursor: pointer



#settingsForMyProfileTrigger
  position: absolute
  display: flex
  justify-content: space-between
  margin-left: 6.2em
  margin-top: 1em
  align-self: center
  width: 50px
  color: #2C2C2C;

#settingsForMyProfileTrigger:hover
  color: white
  cursor: pointer

.MyProfileSectionIcon
  margin: 1em auto
  color: $main-color

.MyAccountSectionIcon
  margin: 1em auto
  color: white


#AddOrDeleteFriendFromMyProfile
  display: flex;
  margin: 2em auto 5em
  width: 400px

.FriendsFromMyProfile
  width: 50%
  border-radius: 10px
  height: 100px
  padding:10px
  button
    margin-top: 10px
    padding: 5px
    border-radius: 4px
    color: $main-color
    font-weight: bold
    background-color: #000
  button:hover
    color: #000
    background-color: $main-color
    border: 2px solid #fff
    cursor: pointer

#DeleteFriendFromMyProfile
  font-size: 0.5em
  height: 50px

#AddFriendFromMyProfile
  height: 50px


.addFriendInput {
  border-radius: 3px
  border: none
  width: 100%
  height: 127%
  padding: 10px
  font-size: 0.5em
  font-weight: bold
}

#crossCancelSettingsForm
  color: $main-color
