#MyProfileContainer
  width: 85%
  float: right
  height: 100%
  display: flex
  flex-direction: column
  padding: 1em 4em
  overflow: auto

#MyProfilePresentation
  display: flex
  flex-direction: column
  align-items: center
  margin: 1em auto

#MyProfileBasicsInformation
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  margin: .5em

.BasicsInformation
  width:50%
  padding: 1em 4em

#AddOrDeleteFriendFromMyProfile
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  margin: .5em

.FriendsFromMyProfile
  width:50%
  padding: 1em 2em
