.lastActu {
  border-left: 3px solid #EC9C34;
  border-radius: 1px 0 0 1px;
  height: 40px;
  text-align: left;
  margin-left: 5px;
  box-shadow: 0px 0px 2px 2px black;
  font-size: 0.7em;
  font-weight: lighter;
  overflow: hidden;
  line-height: 2em;
}

.lastActu a {
  color: white;
  display: block;
  background: linear-gradient(
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)
  );
  padding-left: 5px;
}

.lastActu a:hover {
  background: linear-gradient(
  rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.3)
  );
}

.navbarRange-title {
  font-size: 0.7em;
}

.navbarRange-username {
  font-size: 0.6em;
}
