.lastActu {
  border-left: 3px solid #EC9C34;
  border-radius: 1px 0 0 1px;
  height: 40px;
  text-align: left;
  padding: 5px 10px;
  border-bottom: 4px solid #2c2c2c;
  font-size: 0.7em;
  font-weight: lighter;
}

.lastActu a {
  color: whitesmoke;
}
