@require "frontend/styles/charte";

.lastActu
  align-items: center;
  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  a
    cursor: pointer;
    border-left: 3px solid $main-color;
    opacity: 1;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    height: 100%;
    flex: 1;
    padding: 0 30px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.55em;
    color: white;
    padding-left: 5px;
  a:hover
    background-color: rgba(0, 0, 0, 0.3);

.navbarRange-title
  font-size: 0.9em;
