#MyAccountInformation
  display: flex
  flex-direction: row
  flex-wrap: wrap
  flex: 1;
  justify-content: space-around
  margin: .5em auto 1em
  padding: 1em 0
  border-bottom: thick double white
  border-top: thick double white


.BasicsInformation
  width:70%
  padding: 1em 1em
  margin-bottom: 1em
  background-color: black
  color: white
  opacity: .6
  font-size: .5em
  border-radius: 10px

.labelBasicInformation
  width:30%
  padding: 1em 1em
  margin-bottom: 1em
  color: white
  font-size: .5em
