@require "frontend/styles/charte";

#contactUsContainer
  background-color: $second-color;
  width: 100%
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;

.titleH2ContactInformation
  color: white
  align-items: center
  font-size: .7em
  padding-bottom: 1em
  padding-top: 1em
