@require "frontend/styles/charte";

#contactUsContainer
  background-color: $second-color;
  width: 100%
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;

.titleH2ContactInformation
  color: white
  align-items: center
  font-size: .7em
  padding-bottom: 1em
  padding-top: 1em

.sectionContactInformation
  display: flex
  flex-direction: row
  align-items: center
  margin-bottom:1em
  margin-top:1em

.contentMandatoryContactInformation
  color: white
  align-items: center
  font-size: .6em
  font-weight: lighter
  line-height: normal
  padding-left: 1em
