#rightSidebar {
  float: right;
  width: 15%;
  background-color: #2c2c2c;
  height: 100vh;
  box-shadow: 0px 0px 2px;
}

#rightBar-rubrique {
  display: flex;
  flex-direction: row;
}

#rightBar-rubrique a {
  width: 50%;
  font-size: 0.5em;
  padding: 5px;
  font-weight:lighter;
  text-align:center;
  text-transform: uppercase;
}

.bar {
  background-color: #EC9C34;
  color: #2c2c2c;
  line-height: 1.2em;
}

.selected-bar {
  background-color: #2c2c2c;
  color: #EC9C34;
}

.sidebar-loading {
  background-color: #2c2c2c;
  // position: absolute;
  // right: 0px;
  margin: auto;
  width: 15%;
  float: right;
  height: 100vh;
}
