@require "frontend/styles/charte";

.right-side
  display: flex;
  flex-direction: column;
  width: 100%;
  
#contactPlayer
  margin: auto;
  
#announce-contact 
  max-width: 700px;
  border: 1px solid black;
  margin: -26px auto;
  border-radius: 0px 0px 10px 10px;
  font-weight: lighter;
  font-size: 0.7em;
  box-shadow: 0px 2px 5px 1px #000;
  a
    display: block;
    text-align: center;
    border-top: 1px solid black;
    background-color: $main-color;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
  &-show
    color: white;
    height: auto;
    padding: 10px;
    min-height: 120px;
    text-align: justify;
    img
      float: left;
      margin-right: 10px;
      
#responseComponent
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 15px auto;
  &-form
    display: flex;
    flex-direction: column;
    width: 100%;
  &-button
    align-self: flex-end;
    border-radius: 5px;
    background-color: $main-color;
    margin-top: 8px;
    border: none;
    color: $second-color;
    padding: 10px;
    font-size: 1.2em;
  &-button:hover
    background-color: $main-hover-color;
  &-textarea
    width: 100%;
    min-height: 100px;
    border: none;
    margin: 0px;

.showResponse
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  width: 100%;
  height: 100%;
  color: $main-color;
  text-align: center;
  &-wrap
    border: 1px solid $main-color;
    background-color: $second-color;
    width: 600px;
    margin: auto;
    color: $main-color;
    text-align: center;
    border-radius: 3px;
    .closePopup
      position: relative;
      top: -5px;
      left: 5px;
      padding: 0;
      font-size: 0.7em;
      background-color: $second-color;
      line-height: 0px;
      padding: 2px;
      font-weight: lighter;
      color: $main-color;
      border: 1px solid $main-color;
      border-radius: 100%;
      float: right;
      display: inline-block;
    h2
      margin-bottom: 10px;
      margin-top: 10px;
    .messageSend
      background-color: #ffffff;
      width: 90%;
      margin: auto;
      color: $second-color;
      font-weight: lighter;
      padding: 5px;
      margin-bottom: 5px;
      border-radius: 5px;
      font-size: 0.7em;
    .okButton
      background-color: $second-color;
      color: $main-color;
      border: 1px solid $main-color;
      border-radius: 2px;
      padding: 5px 15px;
      margin-bottom: 10px;
    .okButton:hover, .closePopup:hover
      background-color: $main-color;
      color: $second-color;
      

.playerPicture
  height: 100px;

.showPlayerProfile
  max-width: 1300px;
  color: $main-color;
  padding: 20px 40px 20px 5px;
  margin: auto;
  font-size: 0.8em;
  font-weight: lighter;
  hr
    border: 2px solid $main-color;
  h3
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 30px;
  span
    color: white;

.playerContent
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  img
    height: 200px;
    padding: 10px;

.searchGame
  font-size: 1.3em;
  text-decoration: underline;
  padding-bottom: 10px;

.personality
  h3, h4
    text-transform: uppercase;
  &-player
    text-transform: lowercase;
    font-size: 0.7em;

.personalComment
  flex: 1;
  p
    color: white;

.gamesPlayed 
  background-color: $second-color;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  a
    flex: 1 0 auto;
    align-self: stretch;
    display: block;
    width: 150px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -5px black;
  a:hover
    box-shadow: 0px 0px 2px 2px $main-color;
    cursor: pointer;
    
.gamesPlayed  .fake
    margin: 10px;
    flex: 1 0 auto;
    align-self: stretch;
    width: 150px;