#announce-contact {
  width: 700px;
  border: 1px solid black;
  margin: -26px auto;
  border-radius: 0px 0px 10px 10px;
  font-weight: lighter;
  font-size: 0.7em;
  box-shadow: 0px 2px 5px 1px #000;
}

#announce-contact a {
  display: block;
  text-align: center;
  border-top: 1px solid black;
  background-color: #ec9c34;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
}

#announce-contact-show {
  color: white;
  height: auto;
  padding: 10px;
  min-height: 120px;
  text-align: justify;
}

#announce-contact-show img {
  float: left;
  margin-right: 10px;
}

.showResponse {
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  background-color: #2c2c2c;
  width: 600px;
  height: 400px;
  box-shadow: 0px 0px 7px 10px black;
  margin: auto;
  color: #ec9c34;
  text-align: center;
  padding: 30px;
}

.messageSend {
  font-size: 0.7em;
}

.closePopup {
  font-size: 1.5em;
  text-align: right;
  position: relative;
  bottom: 25px;
  left: 270px;
}

.responseComponent-form {
  height: 200px;
  margin: 0px auto 60px;
}

.responseComponent-textarea {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0px;
}

.gamesPlayed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.responseComponent-button {
  margin: auto;
  margin-top: 8px;
  border: none;
  text-decoration: underline;
  background-color: #2c2c2c;
  color: #ec9c34;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 1px solid black;
}

.responseComponent-button:hover {
  box-shadow: 0px 0px 5px 2px black;
}

.playerPicture {
  height: 100px;
}

.showPlayerProfile {
  color: #ec9c34;
  width: 1300px;
  padding: 20px 40px 20px 5px;
  margin: auto;
  margin-top: 60px;
  font-size: 0.8em;
  font-weight: lighter;
}

.showPlayerProfile hr {
  border: 2px solid #ec9c34;
}

.showPlayerProfile h3 {
  text-transform: uppercase;
  margin-top: 30px;
}

.showPlayerProfile span {
  color: white;
}

.playerContent {
  display: flex;
  flex-direction: row;
}

.playerContent img {
  height: 200px;
  padding: 10px;
}

.searchGame {
  font-size: 1.3em;
  text-decoration: underline;
  padding-bottom: 10px;
}

.personality-player {
  text-transform: lowercase;
  font-size: 0.7em;
}

.personality {
  width: 40%;
}

.personality h3, .personality h4 {
  text-transform: uppercase;
}

.personalComment {
  width: 40%;
}

.personalComment p {
  color: white;
}
