@require "frontend/styles/charte";

#footer
  margin-top: 10px;
  position:relative
  bottom: 0
  display: flex;
  flex-direction: column
  justify-content: flex-end
  align-items: center
  text-align: center
  width: 100%
  background-color: white

#footerAllLinks
  box-shadow: 0 0 5px black;
  background-color: $second-color;
  display: flex;
  justify-content: space-around
  flex-wrap: wrap;
  width:100%


#linkToMandatoryPages
  align-items: center
  text-align: center
  font-size: .5em
  display: flex;
  flex-direction: row
  justify-content: space-between
  flex-wrap: wrap;
  color: $main-color
  font-weight: bold

.linkToFooterPage
  padding-top: 10px
  margin-left: 10px;

.linkToFooterPage:hover
  color: black
  cursor: pointer

#footerTitle
  font-size: 1.1em;
  font-weight: bold;
  color: $main-color;
  padding: 10px 0;
  cursor: pointer
  a
    letter-spacing: -0.06em;
    line-height: 27px;
  i
    font-size: 0.7em;
  span
    margin-left: 20px;
    font-size: 1.1em;


#copyright
  background-color: black
  display: inline
  padding: 10px 0
  width: 100%
  display: flex;
  justify-content: center
  align-items: center
  text-align: center
  color: white
  font-size: .5em
