.signupForm {
  width: 600px;
  height: 500px;
  margin: auto;
  display: block;
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 250px);
  // padding: 10px;
  background-color: #ec9c34;
  box-shadow: 0px 0px 10px 5px black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  z-index: 10;
}

.signupForm input {
  display: block;
  width: 60%;
  margin: auto;
}

.signupForm label {
  display: block;
  // margin-top: auto;
  position: relative;
  top: 35px;
  width: 30%;
  margin-bottom: 20px;
  font-size: 0.8em;
}

.signupForm button {
  margin: auto;
  border: none;
  width: 100px;
  height: 30px;
  box-shadow: 0px 0px 10px 5px black;
}
