#deleteOneGameForm
  padding: 2em 0
  width:50vw
  margin: 0
  border-radius: 10px
  display: flex
  flex-direction: row
  justify-content: space-around

#inputDeleteOneGameForm
  font-size: 0.6em
  border-color: black
  width:40vw


#inputDeleteOneGameForm:hover
  box-shadow: 0px 0px 2px 2px #ec9c34;

#deleteOneGameButton
    text-transform: uppercase
    font-weight: bold
    color: #ec9c34
    background-color: black
    border: 1px solid #ec9c34
    border-radius: 5px
