@require "frontend/styles/charte";

#LegalInformationContainer
  background-color: $second-color;
  width: 100%
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;



.titleH1Information
  color: #EC9C34
  padding-bottom:1em

.titleH2Information
  color: white
  align-items: center
  font-size: .7em
  margin-bottom:1em
  margin-top:1em

.contentMandatoryInformation
  color: white
  align-items: center
  font-size: .6em
  font-weight: lighter
  line-height: normal
