@require "frontend/styles/charte";
	
.friend
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 4px;
	font-size: 0.6em;
	font-weight: lighter;

.friend:hover
	background-color: $main-hover-color;
	cursor: default;
