@require "frontend/styles/charte";

#list_announce 
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 5px;
  align-content: start;

.announce 
  box-shadow: 0px 0px 7px black;
  background-color: $second-color;
  color : white;

.announce a 
  padding: 10px;
  display: flex;
  flex-direction: row;

.player-announce 
  padding: 4px;
  height: 80px;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  font-size: 0.6em;
  justify-content: space-between;
  margin-left: 5px;

.announce:hover 
  background-color: $second-hover-color;

.player-image 
  height: 100px;

.player-name 
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;

.green 
  color: green;

.contentContain 
  overflow: hidden;
  opacity: 0.5;

.fake
    margin: 5px 7px;
    flex: 1 0 auto;
    align-self: stretch;
    width: 400px;
  

