#list_announce {
  clear:both;
  display: flex;
  flex-wrap: wrap;
  // height: 76vh;
}

.announce {
  width: 28%;
  margin: 20px 40px;
  box-shadow: 0px 0px 10px 5px black;
  padding: 10px;
  background-color: #2c2c2c;
  color : white;
}

.player-announce {
  padding: 4px;
  height: 80px;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  font-size: 0.6em;
  justify-content: space-between;
}

.announce:hover {
  background-color: #2C2C3F;
}

.player-image {
  // width: 50px;
  // height: 50px;
}

.player-name {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.green {
  color: green;
}

.contentContain {
  overflow: hidden;
  opacity: 0.5;
}
