#ContainerMyGamesList
  width: 85%
  float: right
  height: 100%
  display: flex
  flex-direction: column
  padding: 1em 2em
  overflow: auto;

// Profile
#infoIdentityProfile
  width: 500px
  height:75px
  display:flex
  flex-direction: row
  align-items: center;
  background-color: #353232
  border-radius: 50px
  border: .5px solid #EC9C34

#photoProfileOnMyGames
  width: 50px
  height: 50px
  border-radius: 100%
  margin-left: 1em

#profileNameOnMyGames
  padding-left: 1em
  color: white
  font-weight: lighter
  font-size: 0.8em

// Section Liste
#sectionListingMyGames
  width:100%
  padding: 2em 0

#settings
  border-bottom: .5px solid #EC9C34
  width:50vw
  padding-bottom: .5em
  display: flex;
  flex-direction: row
  align-items: center


#trigger
  width: 45px
  height: 45px
  font-size: 1.8em
  background-color: black
  border-radius: 10px
  color: #EC9C34
  text-align: center
  padding-bottom: 50px
  margin-left: 20px

#trigger:hover{
  box-shadow: 0px 0px 2px 2px #ec9c34;
  cursor: pointer;
}


#triggerLegend
  color: white
  font-weight: lighter
  font-size: 0.5em
  padding-left: 1em
  padding-top: 5px
  margin-left: 485px

#title
  color: #EC9C34
  width: 150px



// Section liste - zone formulaire ajouter
#triggeredAddOneGameForm
  padding-bottom 1em

// #triggeredAddOneGameForm.fadeIn
//   opacity:1
//   transition: 2s
//   display: block
//
// #triggeredAddOneGameForm.fadeOut
//   opacity:0
//   width:0
//   height:0
//   transition: 2s

#addOneGameForm
  padding: .5em 0
  width:50vw
  margin: 0
  border-bottom: .5px solid #EC9C34

#inputaddOneGameForm
  font-size: 0.6em
  border-color: black

#inputaddOneGameForm:hover{
  box-shadow: 0px 0px 2px 2px #ec9c34
}

// SectionListe: zone games
#containerAllMyGames
  width: 100%
  height: 100%
  display: flex
  padding: .5em
  flex-wrap: wrap
  justify-content: flex-start


#oneOfMyGame
  width: 200px
  margin: 0 1em
  height: 280px
  display: flex
  flex-direction: column
  justify-content: flex-start
  border-radius: 5px
  border: 2px solid black
  box-shadow: 0px 10px 10px -5px black
  margin-bottom: 1em

#oneOfMyGame:hover{
  box-shadow: 0px 0px 2px 2px #ec9c34;
  cursor: pointer;
}


#oneOfMyGamePicture
  width: 100%
  height: 60%

#oneOfMyGamePicture:hover{
  box-shadow: none;
  cursor: pointer;
}

#oneOfMyGameTitle
  font-size: 0.5em;
  padding: 15px 0
  text-align: center
  text-transform: uppercase
  color: white
  font-weight: bold

#oneOfMyGameTitle:hover{
  box-shadow: none;
  cursor: pointer;
}
