.containerArticle
  width: 85%
  float: right
  background-color: #2C2C2C
  height: 100vh
  padding: 2em
  margin: none


.article
  display: block
  background-color: #2C2C2C
  background-size: auto
  width: 1617.55px
  height: 100vh
  padding: 0 13em

// Image /Titre/ categorie de présentation

.containerH1etImageArticle
  width:50%

.categorie
  z-index: 3
  color: white
  font-size: 0.6em
  position: absolute
  background-color: #EC9C34
  top: 95px
  left: 680px
  padding: 7px

.title
  z-index: 3
  color: #EC9C34
  position: absolute
  width: 754.38px
  background-color: black
  opacity: 0.7
  top: 340px
  padding: 7px

.imageArticle
  z-index: 2
  width: 754.38px
  height: 10em
  position: relative

.publicationDate
  display: block
  width: 754.38px
  font-size: 0.4em
  text-align: right
  color: grey


// Le contenu texte de l'article

.contenuArticle
  width: 754.38px
  padding-top: 2em
  color: white

.introArticle
  padding-bottom: 2em

.texteArticle
  max-width: 100%
  font-weight: lighter



// Articles annexes
aside
  padding-top: 4em
  width: 754.38px
  height: 10em


aside h2
  text-align: center
  padding-bottom: 1em
  color: #EC9C34
  font-size: 0.7em
  font-weight: lighter


.carousel
  display: flex
  flex-direction: row
  justify-content: space-between
  text-align: center

.unArticleCarousel
  width: 150px
  height: 180px
  color: #EC9C34
  font-size: 0.5em

.unArticleCarousel:hover{
  box-shadow: 0px 0px 2px 2px #ec9c34;
  cursor: pointer;
}

.imageCarouselArticle
  width: 150px
  height: 150px
  padding-bottom: .5em
